.filter-container {
    margin-bottom: 20px;
  
    input[type='text'] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 300px;
      max-width: 400px;
      box-sizing: border-box;
    }
  }
  
  .pdf-list {
    list-style-type: none;
    padding: 0;
  
    .pdf-item {
      background-color: #f9f9f9;
      border: 1px solid #eee;
      padding: 12px;
      margin-bottom: 8px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #f1f1f1;
      }
  
      a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .message {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
  }

  .filtros-inline {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    mat-form-field {
      width: 300px;
      min-width: 300px;
      max-width: 300px;
    }
  }

  .header-actions {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;    
    width: 100%;
    background-color: #dce9f3; // Cor de fundo original restaurada
    color: #3f51b5;           // Cor do texto original restaurada
    text-align: center;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12); // Mantém borda estilo Material outline
    border-radius: 4px;        // Mantém raio da borda padrão Material
    box-sizing: border-box;    // Mantém box-sizing
  }

  /* Estilo para o botão Adicionar PO */
button.mat-mdc-raised-button.action-button {
  background-color: #dce9f3; /* Cor primária do tema indigo-pink (índigo) */
  color: #3f51b5; /* Texto branco para o label do botão */
  margin: 0px 20px 0 0; /* Adiciona margem à esquerda do botão */
  height: 52px;
  width: 200px;
  font-size: 16px;

  .mat-icon { /* Garante que o ícone também fique branco */
    color: #3f51b5;
  }
}

.position-button {
  width: 100%;
  display: flex;
  justify-content:right;
}
  