<div class="dashboard-container">
  <!-- Cabeçalho com filtros de data -->
  <mat-card class="header-card">
    <mat-card-header>
      <mat-card-title>Gráficos Comparativos de POs</mat-card-title>
      <mat-card-subtitle>Análise de POs por regional</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="filters-container center">
        <mat-form-field appearance="outline">
          <mat-label>Período de Análise</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Data início" />
            <input matEndDate formControlName="end" placeholder="Data fim" (dateChange)="onDateChange()" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-stroked-button [routerLink]="['/menu']" color="primary">
          <mat-icon>arrow_back</mat-icon>
          Voltar ao Menu
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Grid principal -->
  <div class="charts-grid">
    <!-- Linha 1: POs Elaborados -->
    <div class="charts-row">
      <ng-container *ngFor="let region of regions">
        <mat-card class="chart-card">
          <mat-card-header>
            <mat-card-title>Elaborados - {{ region }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ngx-charts-bar-vertical
              [scheme]="colorScheme"
              [results]="dataByRegion[region].elaborados"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showDataLabel]="showDataLabel"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="'Mês'"
              [yAxisLabel]="'Quantidade'"
              [yScaleMin]="0"
              [yScaleMax]="yScaleMax">
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>

    <!-- Linha 2: POs Arquivados -->
    <div class="charts-row">
      <ng-container *ngFor="let region of regions">
        <mat-card class="chart-card">
          <mat-card-header>
            <mat-card-title>Arquivados - {{ region }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ngx-charts-bar-vertical
              [scheme]="colorScheme"
              [results]="dataByRegion[region].implantados"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showDataLabel]="showDataLabel"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="'Mês'"
              [yAxisLabel]="'Quantidade'"
              [yScaleMin]="0"
              [yScaleMax]="yScaleMax">
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>

    <!-- Linha 3: Comparativo -->
    <div class="charts-row">
      <ng-container *ngFor="let region of regions">
        <mat-card class="chart-card wide-card">
          <mat-card-header>
            <mat-card-title>Elaborados vs Arquivados - {{ region }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ngx-charts-line-chart
              [scheme]="colorSchemeLine"
              [results]="dataByRegion[region].comparativo"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="'Mês'"
              [yAxisLabel]="'Quantidade'"
              [autoScale]="true">
            </ngx-charts-line-chart>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
