@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css'; /* Adiciona o tema do Angular Material */

// Outros imports globais podem estar aqui (ex: Angular Material theme)

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; // Aplicando Montserrat como fonte padrão
  // background-color: #f4f6f8; // Exemplo de cor de fundo global, se desejado
}

html, body {
  height: 100%;
}
