<mat-card class="po-list-card">
  <mat-card-content>
    <div class="header-grid" style="margin-bottom: 0px;">



      <div class="action-buttons-group" style="padding-bottom: 18px;">
        <button mat-raised-button (click)="navegarParaNovoPo()" class="action-button">
          <mat-icon>add</mat-icon>
          Adicionar PO
        </button>
      </div>
    </div>

    <div class="table-container">
      <!-- Indicador de Carregamento -->
      <div *ngIf="isLoading" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px;">
        <mat-spinner diameter="50"></mat-spinner>
        <span style="margin-top: 12px; font-size: 1.2em; color: #444;">Aguarde...</span>
      </div>
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" class="mat-elevation-z8" *ngIf="!isLoading">
        <ng-container matColumnDef="numero_po">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° do PO </th>
          <td mat-cell *matCellDef="let po"> {{ po.numero_po }} </td>
        </ng-container>
        <ng-container matColumnDef="data_po">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data PO </th>
          <td mat-cell *matCellDef="let po"> {{ po.data_po | date:'dd/MM/yyyy' }} </td>
        </ng-container>
        <ng-container matColumnDef="tipo_de_logradouro">
          <th mat-header-cell *matHeaderCellDef> Tipo de Logradouro </th>
          <td mat-cell *matCellDef="let po"> {{ po.tipo_de_logradouro }} </td>
        </ng-container>
        <ng-container matColumnDef="logradouro">
          <th mat-header-cell *matHeaderCellDef> Logradouro </th>
          <td mat-cell *matCellDef="let po"> {{ po.logradouro }} </td>
        </ng-container>
        <ng-container matColumnDef="complemento">
          <th mat-header-cell *matHeaderCellDef> Complemento </th>
          <td mat-cell *matCellDef="let po"> {{ po.complemento }} </td>
        </ng-container>
        <ng-container matColumnDef="analista">
          <th mat-header-cell *matHeaderCellDef> Analista </th>
          <td mat-cell *matCellDef="let po"> {{ po.analista }} </td>
        </ng-container>
        <ng-container matColumnDef="data_implantacao">
          <th mat-header-cell *matHeaderCellDef> Data Implantação </th>
          <td mat-cell *matCellDef="let po"> {{ po.data_implantacao }} </td>
        </ng-container>
        <ng-container matColumnDef="funcionario_responsavel">
          <th mat-header-cell *matHeaderCellDef> Funcionário Responsável </th>
          <td mat-cell *matCellDef="let po"> {{ po.funcionario_responsavel }} </td>
        </ng-container>
        <ng-container matColumnDef="bairro">
          <th mat-header-cell *matHeaderCellDef> Bairro </th>
          <td mat-cell *matCellDef="let po"> {{ po.bairro }} </td>
        </ng-container>
        <ng-container matColumnDef="observacoes">
          <th mat-header-cell *matHeaderCellDef> Observações </th>
          <td mat-cell *matCellDef="let po"> {{ po.observacoes }} </td>
        </ng-container>
        <ng-container matColumnDef="detalhamento">
          <th mat-header-cell *matHeaderCellDef> Detalhamento </th>
          <td mat-cell *matCellDef="let po"> {{ po.detalhamento }} </td>
        </ng-container>
        <ng-container matColumnDef="especificacoes">
          <th mat-header-cell *matHeaderCellDef> Especificações </th>
          <td mat-cell *matCellDef="let po"> {{ po.especificacoes }} </td>
        </ng-container>
        <ng-container matColumnDef="e_mail">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let po"> {{ po.e_mail }} </td>
        </ng-container>
        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let po"> {{ po.situacao }} </td>
        </ng-container>
        <ng-container matColumnDef="solicitante">
          <th mat-header-cell *matHeaderCellDef> Solicitante </th>
          <td mat-cell *matCellDef="let po"> {{ po.solicitante }} </td>
        </ng-container>
        <ng-container matColumnDef="tipo_de_solicitante">
          <th mat-header-cell *matHeaderCellDef> Tipo de Solicitante </th>
          <td mat-cell *matCellDef="let po"> {{ po.tipo_de_solicitante }} </td>
        </ng-container>
        <ng-container matColumnDef="data_enc_dro">
          <th mat-header-cell *matHeaderCellDef> Data Enc. DRO </th>
          <td mat-cell *matCellDef="let po"> {{ po.data_enc_dro }} </td>
        </ng-container>
        <ng-container matColumnDef="link_do_po">
          <th mat-header-cell *matHeaderCellDef> Link do PO </th>
          <td mat-cell *matCellDef="let po"> <a [href]="po.link_do_po" target="_blank">Abrir</a> </td>
        </ng-container>
        <ng-container matColumnDef="numero_de_controle">
          <th mat-header-cell *matHeaderCellDef> Nº de Controle </th>
          <td mat-cell *matCellDef="let po"> {{ po.numero_de_controle }} </td>
        </ng-container>
        <ng-container matColumnDef="data_arquivamento">
          <th mat-header-cell *matHeaderCellDef> Data Arquivamento </th>
          <td mat-cell *matCellDef="let po"> {{ po.data_arquivamento }} </td>
        </ng-container>
        <ng-container matColumnDef="criado_em">
          <th mat-header-cell *matHeaderCellDef> Criado em </th>
          <td mat-cell *matCellDef="let po"> {{ po.criado_em }} </td>
        </ng-container>
        <ng-container matColumnDef="ultima_edicao">
          <th mat-header-cell *matHeaderCellDef> Última Edição </th>
          <td mat-cell *matCellDef="let po"> {{ po.ultima_edicao }} </td>
        </ng-container>
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let po">
            <button mat-icon-button (click)="atualizar(po)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluir(po)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator 
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 50]"
        (page)="onPageChange($event)"
        showFirstLastButtons
        aria-label="Selecione a página">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>